html, body {
    margin: 0;
    padding: 0; 
    height: 100%;  
    background-color: rgb(49, 49, 49);
}
header {
    margin: 0;
    padding: 0;
    background-color: #e61414;
    height: 12%;
}
h1 { 
    font-style: oblique;
    text-align: center;
    font-family: 'Trebuchet MS';
    text-align: justify;
    margin: 0;
    padding: 10px;
}
p{
    color: lightcyan;
    font: size 20px;
}
h4{ 
    font-size: 20px;
}
h5{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 8px;
}


h2{
    font-style: unset;    
}
h3{
   color: rgba(2, 2, 2, 0.979);
}
div {
    position: relative; 
    background-image: url('../img/gestao-de-pessoas-na-academia-como-fazer-a-melhor-1024x683.jpg');
    height: 50vh; 
    width: 60vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: fixed;
    margin-bottom: 50px;

}


h6{
    font-size: 20px
}
#button-bottom {
    height: 50px;
    width: 150px;
    background-color: #e61414;
    border-radius: 0px 15px 0px 15px;
    text-decoration: none;
    border: 2px solid #e61414;
    font-family: "Trebuchet MS";
    font-size: 16px;
    transition: 1s;
}
#button-bottom:hover {
    cursor: pointer;
    color: white;
    border: 2px solid #e61414;
    background-color: black;
}
#div-button {
    display: flex;
    justify-content: center;
    padding: 30px;

}
li{
    color: #000000;
}
p{
    color: rgb(250, 243, 243);
}
div {
    position: relative; 
    background-image: url('../img/gestao-de-pessoas-na-academia-como-fazer-a-melhor-1024x683.jpg');
    height: 50vh; 
    width: 60vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: fixed;
    margin-bottom: 50px;

}